//

@import 'reset.min';
@import 'mixins';

html,
body {
  height: 100%;
}

body {
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pendulum {
  display: flex;
  flex-direction: row;
  border: 1px solid white;
  border-bottom-width: 1vw;
  border-radius: 1vw 1vw 0 0;
  padding: 0 2vw 1vw;
  height: 10vw;
}

.piece {
  transform-origin: center top;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 2vw;
  height: 10vw;
}
.piece::before {
  content: '';
  background: #888;
  width: 1px;
  height: 8vw;
}
.piece::after {
  content: '';
  border-radius: 100%;
  background: white;
  width: 2vw;
  height: 2vw;
}

.piece:first-child {
  @include animation(
    left,
    1s,
    cubic-bezier(0.215, 0.61, 0.355, 1),
    infinite,
    alternate
  );
}
.piece:last-child {
  @include animation(
    right,
    1s,
    cubic-bezier(0.55, 0.055, 0.675, 0.19),
    infinite,
    alternate
  );
}

@include keyframes(left) {
  0% {
    @include rotate(0deg);
  }
  50% {
    @include rotate(0deg);
  }
  100% {
    @include rotate(45deg);
  }
}

@include keyframes(right) {
  0% {
    @include rotate(-45deg);
  }
  50% {
    @include rotate(0deg);
  }
  100% {
    @include rotate(0deg);
  }
}
