.flex {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
}

.flex > div {
  flex: 1 1 200px;
  margin: 10px;
}

.grid {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  margin: 30px;
}

.wrapper > div {
  background-color: rgb(144, 122, 214);
  font-weight: bold;
  font-family: Baloo, sans-serif;
  font-size: 3.157rem;
  padding: 10px;
  border-radius: 5px;
}

.wrapper > div:nth-child(odd) {
  background-color: rgb(218, 191, 255);
}

.hide {
  display: none;
}

