
%small-box
{
    width: 50px;
    height: 50px;
    border: 1px solid black;
}
%center
{
    margin: 0 auto;
    display: block;
}
%textOverflow
{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}