*{
	margin:0;
	padding:0;
}

body{
	font-family:'Arial', sans-serif;
	background:#e9f0f5;
}

p{
	margin:10px 0;
}

.container{
	width:940px;
	overflow:auto;
	margin:auto;
}

header{
	background:#5e6482;
	height:70px;
	color:#fff;
	text-align:center;
	padding-top:20px;
}

#timeline{
	background:url(../img/line.png) repeat-y 50% 0;
	min-height:700px;
	margin:20px 0 20px 0;
}

footer{
	background:#5e6482;
	height:40px;
	color:#fff;
	text-align:center;
	padding-top:10px;
	padding-bottom:10px;
}