$background-color: #f4f4f4;
$hover-color: #406c96;
$color-white: #fff;
$sub-item-color: #ccc;

body {
    padding-top: 85px;
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}

.navbar {        // all of the navigation div
    font-family: "Raleway", sans-serif;
    background: $color-white;
    min-height: 85px;
    text-transform: uppercase;
    border-bottom: #ccc solid 1px;
    padding-top: 15px;
    text-align: center;

    span {    // sub nav items
        font-size: 10px;
        color: $sub-item-color;
        text-align: center;
    }

    li {
        &:hover {
            background: $background-color;
            cursor: pointer;
        }

        &.active {
            background: #406c96;
            color: #fff;

            a {
                color: #fff;
            }
        }

        li {
            padding: 5px 0;
            border-left: 4px solid $background-color;

            &:hover {
                border-left: 4px solid $hover-color;
            }
        }
    }
}

.navbar-brand {        // top left logo
    padding: 0;
}

.navbar-nav > li {
    padding-bottom: 5px;

    > a {
        padding-bottom: 0;
        color: #666;
    }
}

.nav > li {
    padding-bottom: 5px;

    > a {
        &:focus,
        &:hover {
            background: none;
        }
    }
}
