//

@import 'reset.min';
@import 'mixins';

$move: 250px;

html,
body {
  height: 100%;
}

body {
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}

.object {
  position: absolute;
  @include transition(all 2s ease-in-out);
}

.van1 {
  top: 75%;
  left: 25%;
}

.van2 {
  top: 75%;
  right: 25%;
}

.rocket {
  top: 35%;
  left: 45%;
}

.coin {
  top: 65%;
  left: 45%;
}

.plane {
  top: 50%;
  left: 5%;
}

.pencil1 {
  top: 10%;
  left: 10%;
}

.pencil2 {
  top: 10%;
  right: 10%;
}

.car {
  top: 10%;
  left: 30%;
}

.boomerang {
  top: 55%;
  left: 65%;
}

#axis:hover .move-right {
  @include transform(translate($move, 0));
}

#axis:hover .move-left {
  @include transform(translate(-$move, 0));
}

#axis:hover .move-up {
  @include transform(translate(0, -$move));
}

#axis:hover .move-down {
  @include transform(translate(0, $move));
}

#axis:hover .move-ne {
  @include transform(translate($move, -$move));
}

#axis:hover .rotate360cw {
  @include transform(rotate(360deg));
}

#axis:hover .rotate360ccw {
  @include transform(rotate(-360deg));
}

#axis:hover .larger {
  @include transform(scale(2));
}

#axis:hover .multiple-move {
  @include transform(translate(250px, -250px) rotate(360deg));
}
