//

@import 'reset.min';
// @import 'mixins';

html,
body {
  height: 100%;
}

body {
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}

.object {
  position: absolute;
  transition: all 2s ease-in-out;
  -webkit-transition: all 2s ease-in-out; /** Chrome & Safari **/
  -moz-transition: all 2s ease-in-out; /** Firefox **/
  -o-transition: all 2s ease-in-out; /** Opera **/
}

.van {
  top: 45%;
  left: 44%;
}

#axis:hover .move-right {
  transform: translate(350px, 0);
  -webkit-transform: translate(350px, 0); /** Chrome & Safari **/
  -o-transform: translate(350px, 0); /** Opera **/
  -moz-transform: translate(350px, 0); /** Firefox **/
}
