
// Colors

$color-red: red;
$color-green: green;
$color-blue: blue;
$color-yellow: yellow;
$color-orange: orange;

$color-white: #fff;
$color-black: #000;

// Header

$header-size: 28px;
$header-height: 150px;
$header-color: $color-yellow;

// Body

$body-background-color: $color-white;
$body-color: #555;

// Navigation

$link-color: $color-white;
$link-nav-color-default: $color-green;
$link-nav-color-hover: $color-blue;
$link-nav-bg-color-hover: $color-red;
