
.pf-container {
	display: grid;
}

.pf-content {
	padding: 3vw;
}

@media only screen and (max-width: 900px) {
	.pf-sidebar {
		display: grid;
		justify-content: center;
		align-items: center;
		text-align: center;
	}

	.pf-grid {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto;
		grid-row-gap: 1rem;
	}
}

@media only screen and (min-width: 901px) {
	.pf-container {
		grid-template-columns: 1fr 2fr;
		grid-template-rows: auto;
	}

	.pf-content {
		grid-column-start: 2;
	}

	.pf-grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto;
		grid-row-gap: 1rem;
	}

	.pf-sidebar {
		position: fixed;
		height: 100vh;
		width: 33vw;
	}
}
