/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2014-11-20, 15:16:16
    Author     : Arek
*/

$header-size: 28px;
$header-height: 150px;

$color-yellow: yellow;
$color-red: red;


$header-color: $color-yellow;
$link-color: white;

//NAVIGATION

$link-nav-color-default: green;
$link-nav-color-hover: blue;
$link-nav-bg-color-hover: red;