body {
	background-color: #cccccc;
	font-family: arial;
	line-height: 1.3em;
}

#container {
	width: 960px;
	margin: 0 auto 0 auto;
	background-color: white;
	border: 1px #cccccc solid;
	padding: 5px 10px 5px 10px;
}

header {
	background-color: black;
	color: white;
	padding: 25px 10px 25px 10px;
}

footer {
	background-color: black;
	color: white;
	padding: 15px 10px 15px 10px;
	text-align: center;
}

a {
	color: black;
	text-decoration: none;
}

.sample-image {
	float: left;
	width: 180px;
	margin: 0 15px 10px 0;
}

#clear {
	clear: both;
}

ul {
	margin: 0;
	padding: 10px;
	list-style: none;
	background: #cccccc;
	overflow: auto;
}

li {
	float: left;
	padding: 0 10px 0 10px;
}
