
$header-size: 28px;
$header-height: 150px;

$color-orange: orange;
$color-red: red;
$color-white: white;


$header-color: $color-orange;
$link-color: $color-orange;

//NAVIGATION

$link-nav-color-hover: $color-white;
$link-nav-bg-color-default: green;
$link-nav-bg-color-hover: blue;
