@import "_variables.scss";
@import "_nav.scss";
@import "_mixins.scss";
@import "_placeholders.scss";
@import "_functions.scss";

#header {
    height: $header-height;
}

h1 {
    font-size: $header-size;
    color: $header-color;
}

h2 {
    font-size: $header-size - 7px;
    color: $header-color;
}

a {
    color: $link-color;
}

p {
    width: 200px;
    height: 50px;
    @extend %textOverflow;
    @include horizontalGradient(#FFC, #000);
    clear: left;
    @extend %center;
}

.image {
    background-color: #ececec;
    border: 1px solid #ccc;
    box-sizing: border-box;
    float: left;
    padding: 10px;
    text-align: center;

    @media (max-width: 480px) {
        @include generateRow(1, 10%);
    }

    @media (min-width: 481px) and (max-width: 640px) {
        @include generateRow(2, 8%);
    }

    @media (min-width: 641px) and (max-width: 1200px) {
        @include generateRow(4, 3%);
    }

    @media (min-width: 1201px) {
        @include generateRow(5, 2%);
    }

    img {
        width: 100%;
    }

    .image-description {
        color: #555;
    }
}
