<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="">
        <title></title>

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/reset.css">
        <link rel="stylesheet" href="css/styles.css">
        <link rel="stylesheet" href="css/queries.css">
    </head>
    <body>
      <header>
          <div class="container">
              <h1>Responsive CSS Timeline</h1>
          </div>
      </header>
      <article>
          <h1>Images Floating in the Document Flow</h1>
          <button>Toggle Floats</button>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo sequi veniam ea enim nesciunt doloremque delectus sint consectetur qui magnam. Recusandae, hic quidem officia, asperiores sit libero sapiente totam eum.</p>
          <figure><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/652/unsplash-daisy.jpg" alt="daisy photographed from below">
              <figcaption>Floating Left</figcaption>
          </figure>
        </article>
        !!{cursor}
        <footer>
            <div class="container">
                <p>Copyright &copy; 2014, CSS Responsive Timeline</p>
            </div>
        </footer>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="js/script.js"></script>
    </body>
</html>
