
.pf-container {
	display: flex;
}

.pf-content {
	padding: 3vw;
}

.pf-grid-item {
	margin-bottom: 1rem;
}

.pf-grid-item:last-child {
	margin-bottom: 0;
}

@media only screen and (max-width: 900px) {
	.pf-container {
		flex-direction: column;
	}

	.pf-sidebar {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		/* min-height: 50vh; */
	}
}

@media only screen and (min-width: 901px) {
	.pf-sidebar-container {
		flex: 35vw;
	}
	.pf-sidebar {
		position: fixed;
		height: 100vh;
		width: 35vw;
	}
	.pf-content {
		flex: 65vw;
	}
	.pf-grid {
		display: flex;
		flex-wrap: wrap;
	}
	.pf-grid-item {
		width: 47%;
		margin-right: 1rem;
	}
}
