* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body,
.page {
  height: 100%; /* needed for proper layout */
}

body {
  overflow: hidden;
}

.page {
  display: flex;
	flex-direction: column;
	/* min-height: calc(100vh - 40vh); */
}

header, footer, article, nav, aside {
	padding: 1em;
}
header, footer {
	background: yellowgreen;
	text-align: center;
	/* height: 20vh; */
}

header {
  flex: 0 0 auto;
  background-color: #dcdcdc;
}

footer {
  flex: 0 0 auto;
  background-color: #dcdcdc;
}

#main {
  flex: 1 1 auto;
  position: relative;/* need this to position inner content */
	overflow-y: auto;

	display: flex;
	flex-direction: row;
}

#main > article {
	flex: 1;
}
#main > nav, 
#main > aside {
	flex: 0 0 20vw;
	background: beige;
}
#main > nav {
	order: -1;
}



