html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
body {
  height: 100%;
}

body {
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}

.object {
  position: absolute;
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -ms-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
}

.van1 {
  top: 75%;
  left: 25%;
}

.van2 {
  top: 75%;
  right: 25%;
}

.rocket {
  top: 35%;
  left: 45%;
}

.coin {
  top: 65%;
  left: 45%;
}

.plane {
  top: 50%;
  left: 5%;
}

.pencil1 {
  top: 10%;
  left: 10%;
}

.pencil2 {
  top: 10%;
  right: 10%;
}

.car {
  top: 10%;
  left: 30%;
}

.boomerang {
  top: 55%;
  left: 65%;
}

#axis:hover .move-right {
  -moz-transform: translate(250px, 0);
  -o-transform: translate(250px, 0);
  -ms-transform: translate(250px, 0);
  -webkit-transform: translate(250px, 0);
  transform: translate(250px, 0);
}

#axis:hover .move-left {
  -moz-transform: translate(-250px, 0);
  -o-transform: translate(-250px, 0);
  -ms-transform: translate(-250px, 0);
  -webkit-transform: translate(-250px, 0);
  transform: translate(-250px, 0);
}

#axis:hover .move-up {
  -moz-transform: translate(0, -250px);
  -o-transform: translate(0, -250px);
  -ms-transform: translate(0, -250px);
  -webkit-transform: translate(0, -250px);
  transform: translate(0, -250px);
}

#axis:hover .move-down {
  -moz-transform: translate(0, 250px);
  -o-transform: translate(0, 250px);
  -ms-transform: translate(0, 250px);
  -webkit-transform: translate(0, 250px);
  transform: translate(0, 250px);
}

#axis:hover .move-ne {
  -moz-transform: translate(250px, -250px);
  -o-transform: translate(250px, -250px);
  -ms-transform: translate(250px, -250px);
  -webkit-transform: translate(250px, -250px);
  transform: translate(250px, -250px);
}

#axis:hover .rotate360cw {
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

#axis:hover .rotate360ccw {
  -moz-transform: rotate(-360deg);
  -o-transform: rotate(-360deg);
  -ms-transform: rotate(-360deg);
  -webkit-transform: rotate(-360deg);
  transform: rotate(-360deg);
}

#axis:hover .larger {
  -moz-transform: scale(2);
  -o-transform: scale(2);
  -ms-transform: scale(2);
  -webkit-transform: scale(2);
  transform: scale(2);
}

#axis:hover .multiple-move {
  -moz-transform: translate(250px, -250px) rotate(360deg);
  -o-transform: translate(250px, -250px) rotate(360deg);
  -ms-transform: translate(250px, -250px) rotate(360deg);
  -webkit-transform: translate(250px, -250px) rotate(360deg);
  transform: translate(250px, -250px) rotate(360deg);
}

/*# sourceMappingURL=stylesheet.css.map */
