// Colors

$color-red: red;
$color-green: green;
$color-blue: blue;

$color-white: #fff;
$color-black: #000;

// Body

$body-background-color: $color-white;
$body-color: #555;

// Navigation

$link-color: $color-white;
$link-nav-color-default: $color-green;
$link-nav-color-hover: $color-blue;
$link-nav-bg-color-hover: $color-red;
