
@function automaticContrast($backgroundColor, $textColor) {
    @if lightness($backgroundColor) < 50% {
        @return lighten($textColor, 30%);
    } @else {
        @return darken($textColor, 40%);
    }
}
