
html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	font-size: 16px;
	line-height: 1.5;
	font-family: sans-serif;
	padding: 0;
	margin: 0;
}

a {
	color: black;
	font-weight: bold;
	text-decoration: none;
}
.pf-sidebar {
	background-color: gray;
	padding: 5vw;
}

.pf-grid-item {
	background-color: gray;
	padding: 3vw;
}



